.services__container {
  display: flex;
}

.services__columns {
  display: flex;
  width: 1027px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.services__image {
  width: 459px;
  height: 428px;
}

.services__info {
  width: 468px;
}

.services__info h2 {
  margin-bottom: 1rem;
}

.services__checklist {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.services__checklist div ul {
  margin-bottom: 1rem;
}

.services__checklist div:nth-child(1) ul {
  width: 20px;
  height: 20px;
  background: var(--clr-variant-2);
  display: flex;
  border-radius: 50%;
}

.services__checklist div:nth-child(1) ul li {
  margin: auto;
  color: var(--clr-primary);
}

/* _ Responsive Breakpoints */
@media screen and (max-width: 600px) {
  .services__columns {
    flex-direction: column;
    width: 328px;
  }

  .services__image {
    width: 252px;
    height: 228px;
    margin-bottom: 3rem;
  }

  .services__info {
    width: 328px;
  }
}
