/* basic styles */
.skeleton {
  background: #ddd;
  margin: 10px;
  border-radius: 8px;
}
.skeleton.skeleton-card {
  width: 300px;
  height: 480px;
}
.skeleton-wrapper {
  margin: 20px auto;
  padding: 10px 20px;
  border-radius: 4px;
  position: relative;
}

/* skeleton card */
.skeleton-card__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* animation effect */
.shimmer-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: loading 2s infinite;
  overflow: hidden;
}
.shimmer {
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transform: skewX(-20deg);
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.05);
}

@keyframes loading {
  0% {
    transform: translateX(-150%);
  }
  50% {
    transform: translateX(-60%);
  }
  100% {
    transform: translateX(150%);
  }
}
