.hero__container {
  width: 100%;
  background-color: var(--clr-variant);
  height: 500px;
  margin-top: 0;
  display: flex;
  align-items: center;
  position: relative;
  top: 0;
}

.hero__columns {
  display: flex;
  justify-content: space-between;
  width: 1440px;
}

.hero__info {
  width: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__info p {
  margin: 2rem 0 1rem;
  width: 90%;
}

.hero__image img {
  width: 704px;
  height: 407px;
  position: absolute;
  right: 0;
  bottom: 0;
}

/* _ Responsive Breakpoints */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-sm);
  }

  .hero__container {
    position: none;
    height: 700px;
  }

  .hero__info {
    width: 328px;
    position: absolute;
    top: 60px;
  }

  .hero__image img {
    position: none;
    width: 344.22px;
    height: 199px;
  }
}
