.signin {
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
  background: tan;
}

/*_ left */
.signin__left {
  display: flex;
  flex-direction: column;
  min-width: 720px;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.signin__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signin__container > * {
  margin-bottom: 30px;
}

.signin__logo,
.signin__left h2 {
  align-self: flex-start;
}

.signin__form {
  display: flex;
  flex-direction: column;
  width: 370px;
}

.signin__form > * {
  margin-bottom: 20px;
}

.signin__form input {
  border: 1px solid var(--clr-neutral-200);
  border-radius: var(--bora-sm);
  width: 370px;
  font-weight: var(--fw-light);
  padding: 10px;
  background: var(--clr-neutral-100);
}

.signin__label {
  margin-bottom: 5px;
}

.signin button {
  margin-top: 20px;
}

.signin__signup {
  display: flex;
  gap: 0.5rem;
}

/*_ right */
.signin__right {
  display: flex;
  min-width: 720px;
  flex-direction: column;
  background: var(--clr-primary);
}
