.detail-price-card__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 407px;
  min-height: 482px;
  border-radius: var(--bora-lg);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

.detail-price-card__container button {
  width: 100%;
}
