footer {
  margin-bottom: 100px;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 1141px;
  margin: auto;
}

.footer__columns p {
  font-weight: var(--fw-bold);
}

.footer__columns a {
  font-weight: var(--fw-regular);
}

.footer__address > * {
  margin-bottom: 16px;
  width: 300px;
}

.footer__navigation li {
  margin-bottom: 16px;
}

.footer__social-media ul {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 16px;
}

.footer__social-media li {
  width: 30px;
  height: 30px;
  background: var(--clr-primary);
  display: flex;
  border-radius: 50%;
}

.footer__social-media li a {
  color: var(--clr-neutral-100);
  margin: auto;
}

.copyright > * {
  margin-bottom: 16px;
}

/*_ Responsive Breakpoints */
@media screen and (max-width: 600px) {
  section,
  footer {
    margin-top: 70px;
  }

  .footer__columns {
    width: 328px;
    flex-direction: column;
  }

  .footer__social-media ul {
    justify-content: flex-start;
    gap: 1rem;
    margin-bottom: 1rem;
  }
}
