.carousel {
  display: flex;
  flex-direction: column;
}

.carousel > h2 {
  margin: 0 auto 16px;
}

.carousel > p {
  margin: 0 auto 40px;
}

.carousel__card {
  width: 650px;
  height: 270px;
  background: var(--clr-variant);
  border-radius: var(--bora-lg);
  padding: 69px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin: 0 auto;
}

.carousel__card__left {
  display: flex;
}

.carousel__card__left img {
  border-radius: 50%;
  width: 80%;
  margin: auto;
}

.carousel__card__right {
  display: flex;
  flex-direction: column;
}

.carousel__card__right li {
  color: var(--clr-warning);
  margin-bottom: 0.5rem;
}

.carousel__card__right > p {
  margin-bottom: 1rem;
}

.carousel__card__right small {
  font-weight: var(--fw-regular);
}

.arrow-button > * {
  cursor: pointer;
}

.arrow-button-right {
  transform: rotate(180deg);
}

/* _ Responsive Breakpoints */
@media screen and (max-width: 600px) {
  .carousel__card {
    flex-direction: column;
    width: 328px;
    height: 392px;
  }

  .carousel__card__left {
    width: 80px;
  }

  .carousel__card__right li {
    margin: 0 auto 1rem;
  }
}
