:root {
  --clr-primary: #0d28a6;
  --clr-variant: #f1f3ff;
  --clr-variant-2: #cfd4ed;
  --clr-accent: #5cb85f;
  --clr-success: #92d094;
  --clr-danger: #fa2c5a;
  --clr-warning: #f9cc00;
  --clr-neutral-000: #000;
  --clr-neutral-100: #fff;
  --clr-neutral-200: #d0d0d0;
  --clr-neutral-300: #8a8a8a;
  --clr-neutral-400: #3c3c3c;
  --clr-neutral-500: #999999;

  --ff-primary: Arial, Helvetica, sans-serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;

  --fs-100: 12px;
  --fs-200: 14px;
  --fs-300: 16px;
  --fs-400: 24px;
  --fs-500: 36px;

  --bora-sm: 2px;
  --bora-md: 4px;
  --bora-lg: 8px;
  --bora-xl: 13px;

  --container-lg: 81.1%;
  --container-md: 87.1%;
  --container-sm: 91.1%;

  --trans: all 200ms ease;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
}

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-200);
  font-weight: var(--fw-bold);
  background: var(--clr-neutral-100);
  color: var(--clr-neutral-000);
  line-height: 20px;
  text-rendering: optimizeSpeed;
}

section,
footer {
  margin-top: 100px;
}

h1 {
  font-size: var(--fs-500);
  font-weight: var(--fw-bold);
  line-height: 54px;
}

h2 {
  font-size: var(--fs-400);
  font-weight: var(--fw-bold);
  line-height: 36px;
}

h3 {
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
  line-height: 24px;
}

p {
  font-weight: var(--fw-regular);
}

img,
svg,
picture {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

/* # utility classes */

.container {
  width: var(--container-lg);
  margin: 0 auto;
}

.button {
  font-weight: var(--fw-bold);
  font-size: var(--fs-200);
  color: var(--clr-neutral-100);
  background: var(--clr-accent);
  border-radius: var(--bora-sm);
  border: 1px solid transparent;
  padding: 8px 12px;
  line-height: 20px;
  cursor: pointer;
  transition: var(--trans);
}

.button:hover {
  background: transparent;
  border: 1px solid var(--clr-accent);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  color: var(--clr-accent);
}

a {
  color: var(--clr-neutral-000);
  transition: var(--trans);
}

a:hover {
  color: var(--clr-primary);
}
