.DetailPaketCard__section {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.DetailPaketCard__section h4 {
  margin: 1rem 0;
}

.DetailPaketCard__section li {
  list-style: circle;
  font-weight: var(--fw-regular);
  line-height: 1.6;
}

.DetailPaketCard__refund h4 {
  margin: 0;
  padding: 0;
}
